<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" name="robots" http-equiv="cache-control" content="no-store">
        <title>Aplicación AdminParking</title>
    </head>
    <body>

        <div class="barra">
            <a class="botones_barra" [routerLink]="['/vehiculo/anadirVehiculo']">Registrar Vehiculo</a> <!--Para que me envie a otro componente-->
            <a class="botones_barra" [routerLink]="['/vehiculo/registrarSalida']">Registrar Salida</a> <!--Para que me envie a otro componente-->
            <a class="botones_barra" href="http://localhost:8080/pisos/anadirPiso">Añadir Piso</a>
            <a class="botones_barra" href="http://localhost:8080/tarifas/anadirTarifa">Añadir Tarifa</a>
            <a class="botones_barra" href="http://localhost:8080/tiposvehiculo/anadirTipo">Tipo Vehiculo</a>
            <a class="botones_barra" href="http://localhost:8080/tarifas/tarifas-espacios">Tarifas y Espacios</a>
            <a class="botones_barra" href="iniciar sesioon.html">Cerrar sesión</a>

        </div>
        <router-outlet></router-outlet>
    </body>

</html>
