<div class="barra">
    <i>Eliminar Pisos</i>
    <a class="botones_barra" routerLink="/vehiculo/anadirVehiculo">Registrar Vehiculo</a>
    <a class="botones_barra" routerLink="/vehiculo/registrarSalida">Registrar Salida</a>
    <a class="botones_barra" [routerLink]="['/tarifas/anadirTarifa']">Añadir Tarifa</a>
    <a class="botones_barra" [routerLink]="['/tiposvehiculo/anadirTipo']">Tipo Vehiculo</a>
    <a class="botones_barra" [routerLink]="['/tarifas/tarifas-espacios']">Tarifas y Espacios</a>
    <a class="botones_barra" href="iniciar sesioon.html">Cerrar sesión</a>
</div>

<h4>CRUD pisos</h4>

<div class="barraCRUD">
    <a class="botones_barra" [routerLink]="['/piso/anadirPiso']">Añadir Piso</a>
    <a class="botones_barra" [routerLink]="['/piso/actualizarPiso']">Actualizar Piso</a>
</div>

<h4>Ingrese la información del piso</h4>

<div>
    <!-- Mensaje de éxito -->
    <p *ngIf="exito">{{exito}}</p>
    <!-- Mensaje de error -->
    <p *ngIf="error">{{error}}</p>
</div>

<form (ngSubmit)="eliminarPiso(+id.value)">
    <!-- id del piso -->
    <label for="id">Id de piso (solo números):</label>
    <input type="number" #id id="id" name="id" pattern="[0-9]+" title="Por favor, ingrese un valor numérico" required><br>
    <!-- Menú desplegable para tipo de vehículo -->
    <br>
    <br>
    <button type="submit" class="botoon">Eliminar Piso</button>
</form>
