<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" name="robots" http-equiv="cache-control" content="no-store">
        <title>Aplicación AdminParking</title>
    </head>
    <body>
        <div class="barra">
            <i>Registrar Salida</i>
            <a class="botones_barra" [routerLink]="['/vehiculo/anadirVehiculo']">Registrar Vehiculo</a> <!--Para que me envie a otro componente-->
            <a class="botones_barra" href="http://localhost:8080/pisos/anadirPiso">Añadir Piso</a>
            <a class="botones_barra" href="http://localhost:8080/tarifas/anadirTarifa">Añadir Tarifa</a>
            <a class="botones_barra" href="http://localhost:8080/tiposvehiculo/anadirTipo">Tipo Vehiculo</a>
            <a class="botones_barra" href="http://localhost:8080/admin/tarifas-espacios">Tarifas y Espacios</a>
            <a class="botones_barra" href="iniciar sesioon.html">Cerrar sesión</a>
        </div>

    <h3>Registrar salida</h3>
        <form #miFormulario="ngForm" (ngSubmit)="onSubmit(miFormulario.value)">
            <div>
                <label for="placa">Número de Placa:</label>
                <br>
                <input type="text" id="placa" name="placa" [(ngModel)]="formData.placa" placeholder="Escribe la placa del vehículo."  (blur)="buscarHoraLlegada()">
            </div>

            <div>
                <label for="horaLlegada">Hora de llegada:</label>
                <br>
                <span id="horaLlegada">{{ horaLlegada }}</span>
            </div>
        
            <div>
                <label for="TiempoSalida">Hora de salida (formato militar):</label>
                <br>
                <input type="time" id="TiempoSalida" name="TiempoSalida" [(ngModel)]="formData.tiempoSalida" >
              </div>

              <div>
                <label for="cobroFinal">Cobro Final:</label>
                <br>
                <span id="cobroFinal">{{ cobroFinal | currency:'USD':'symbol' }}</span>
              </div>

            <br>
            <div>
                <button type="submit">Mostrar cobro</button>
            </div>
        </form>
        <br>
        <div>
            <button type="button" (click)="retirarVehiculo()">Retirar vehículo</button>
        </div>
        <br>
        <div id="mensajeRetiro" *ngIf="vehiculoRetirado">{{ mensajeRetiro }}</div>

        <div id="aviso"></div>
 
    </body>


</html>
