<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" name="robots" http-equiv="cache-control" content="no-store">
        <title>Aplicación AdminParking</title>
    </head>
    <body>
        <div class="barra">
            <i>Registrar Salida</i>
            <a class="botones_barra" [routerLink]="['/vehiculo/anadirVehiculo']">Registrar Vehiculo</a> <!--Para que me envie a otro componente-->
            <a class="botones_barra" [routerLink]="['/piso/anadirPiso']">Añadir Piso</a>
            <a class="botones_barra" href="http://localhost:8080/tarifas/anadirTarifa">Añadir Tarifa</a>
            <a class="botones_barra" href="http://localhost:8080/tiposvehiculo/anadirTipo">Tipo Vehiculo</a>
            <a class="botones_barra" [routerLink]="['/tarifa/tarifas-espacios']">Tarifas y Espacios</a>
            <a class="botones_barra" *ngIf="showLogoutButton()" (click)="logout()">Logout</a>
        </div>

    <h3>Registrar salida</h3>
        <form #miFormulario="ngForm" (ngSubmit)="onSubmit(miFormulario.value)">
            <div>
                <label for="placa">Número de Placa:</label>
                <br>
                <input type="text" id="placa" name="placa" [(ngModel)]="formData.placa" placeholder="Escribe la placa del vehículo."  (blur)="buscarHoraLlegada()">
            </div>

            <div>
                <label for="horaLlegada">Fecha de llegada:</label>
                <br>
                <span id="horaLlegada">{{ horaLlegada }}</span>
            </div>

            <div>
                <label for="cobroFinal">Cobro Final:</label>
                <br>
                <span id="cobroFinal">{{ cobroFinal | currency:'USD':'symbol' }}</span>
            </div>
            <br>
            <div>
                <button type="submit" id="btnCobro">Mostrar cobro</button>
            </div>
        </form>
        <br>
        <div>
            <button type="submit" id="btnRetirar" (click)="retirarVehiculo()">Retirar vehículo</button>
        </div>
        <br>
        <div id="mensajeRetiro" *ngIf="vehiculoRetirado">{{ mensajeRetiro }}</div>
        <div id="aviso"></div>
        
    </body>
</html>
