<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Formulario de Tarifa</title>
    <link rel="stylesheet" type="text/css" href="/style-crearTarifa.css">
</head>
<body>
    <div class="barra">
        <i>Tarifas</i>
        <a class="botones_barra" [routerLink]="['/vehiculo/anadirVehiculo']">Registrar Vehiculo</a> <!--Para que me envie a otro componente-->
        <a class="botones_barra" [routerLink]="['/vehiculo/registrarSalida']">Registrar Salida</a>
        <a class="botones_barra" [routerLink]="['/piso/anadirPiso']">Añadir Piso</a>
        <a class="botones_barra" [routerLink]="['/tipoVehiculo/anadir-tipo']">Añadir Tipo Vehiculo</a>
        <a class="botones_barra" [routerLink]="['/tarifa/tarifas-espacios']">Tarifas y Espacios</a>
        <a class="botones_barra" *ngIf="showLogoutButton()" (click)="logout()">Logout</a>
    </div>
    <h1>Ingresar Información de Tarifa</h1>
    <form (ngSubmit)="crearTarifa(tipoVehiculo.value, +tarifaPorMinuto.value)">
        <label for="tipoVehiculo">Tipo de Vehículo:</label>
        <input type="text" id="tipoVehiculo" name="tipoVehiculo" required #tipoVehiculo><br>
    
        <label for="tarifaPorMinuto">Tarifa por Minuto:</label>
        <input type="number" id="tarifaPorMinuto" name="tarifaPorMinuto" step="0.01" required #tarifaPorMinuto><br>
    
        <div id="mensaje">
            <p *ngIf="mensaje" class="error-message">{{ mensaje }}</p>
        </div>
    
        <input type="submit" value="Crear Tarifa" class="botoon">
    </form>
    
    
    
</body>
</html>
