<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" name="robots" http-equiv="cache-control" content="no-store">
        <title>Aplicación AdminParking</title>
    </head>
    <body>
        <div class="barra">
            <i>Registrar Vehiculo</i>
            <a class="botones_barra" [routerLink]="['/vehiculo/registrarSalida']">Registrar Salida</a> <!--Para que me envie a otro componente-->
            <a class="botones_barra" href="http://localhost:8080/pisos/anadirPiso">Añadir Piso</a>
            <a class="botones_barra" href="http://localhost:8080/tarifas/anadirTarifa">Añadir Tarifa</a>
            <a class="botones_barra" [routerLink]="['/tipoVehiculo/anadir-tipo']">Añadir Tipo Vehiculo</a>
            <a class="botones_barra" [routerLink]="['/tarifa/tarifas-espacios']">Tarifas y Espacios</a>
            <a class="botones_barra" *ngIf="showLogoutButton()" (click)="logout()">Logout</a>
        </div>

        <h3>Admitir un vehículo e indicarle el piso en el cual debe parquear</h3>
        <form (ngSubmit)="onSubmit()">
        <div>
            <label for="tipoVehiculo">Tipo de Vehículo:</label>
            <select id="tipoVehiculo" name="tipoVehiculo" [(ngModel)]="vehiculo.tipoVehiculo" required (ngModelChange)="verificarFormulario()">
                <option value="">Seleccione un tipo de vehículo</option>
                <option *ngFor="let tipo of tipos" [value]="tipo.tipo">{{ tipo.tipo }}</option>
            </select>
        </div>
        

        <div *ngIf="vehiculo.tipoVehiculo">
            <h4>Capacidad disponible por piso para {{ vehiculo.tipoVehiculo }}:</h4>
            <ul>
                <li *ngFor="let piso of getPisosPorTipoVehiculo(vehiculo.tipoVehiculo)">
                    ID del piso: {{ piso.id }} - Parqueaderos Disponibles: {{ piso.capacidad }} para {{ vehiculo.tipoVehiculo }}
                </li>
            </ul>
        </div>

        <div *ngIf="vehiculo.tipoVehiculo">
            Tarifa para {{ vehiculo.tipoVehiculo }}: {{ obtenerTarifa(vehiculo.tipoVehiculo) }}
        </div>

        <div>
            <label for="idPiso" style="display: inline-block; width: 200px;">Indique el piso:</label>
            <select id="idPiso" name="idPiso" [(ngModel)]="id_piso" required (ngModelChange)="verificarFormulario()">
                <option value="">Seleccione un piso</option>
                <option *ngFor="let piso of getPisosPorTipoVehiculo(vehiculo.tipoVehiculo)" [value]="piso.id">
                    ID del piso: {{ piso.id }} - Espacios disponibles: {{ piso.capacidad }}
                </option>
            </select>
        </div>

        <div>
            <label for="placa" style="display: inline-block; width: 200px;">Número de Placa:</label>
            <input type="text" id="placa" name="placa" [(ngModel)]="vehiculo.placa" placeholder="Escribe la placa del vehículo." required (ngModelChange)="verificarFormulario()">
        </div>

        <br>
        <div>
            <button id = "btnIngresar" type="submit" [disabled]="!formularioValido">Añadir vehículo</button>
        </div>
    </form>

    
    <div id="aviso"></div>
    <div class="error-message" *ngIf="errorMessages.length > 0">
        <ul>
            <li *ngFor="let errorMessage of errorMessages">{{ errorMessage }}</li>
        </ul>
    </div>
        
    </body>

</html>
